 @import 'ember-paper';

.ember-app{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 10px;
  max-width: 864px;
  margin: auto;
}

.md-sidenav-left {
  /*height: 100%; */
}
.md-item {
  > .md-button {
    height: 50px;
    width: 100%;
  }
}
.md-list{
  height: 100px;
  md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
  }
}

.sidenav ul li {
  > a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    padding: 0.5em 3.2em;
    &.active {
      background-color: #ccedfc;
    }
    &:hover {
      color: #FFF;
      background-color: #81D4FA;
    }
  }
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &:hover {
    color: #FFF;
    background-color: #4FC3F7;
  }
}

.ember-text-field {
  width: 70%;
}

.feed-index {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
  margin: 16px;
  text-align: center;
  line-height: 60px;
  background-color: #03a9f4;
  color: #FFF;
}

.subCategory {
  transition-duration: 0.4s;
}

.categorySelected {
  padding: 0.8em 1.2em;
  font-weight: 500;
  font-size: 20px;
}

.categoryNotSelected {
  padding: 1.1em 1.2em;
  font-weight: 500;
  font-size: 20px;
}

@media all and (max-width: 959px) {
  .toolbar-title{
    display:block;
  }
}

@media all and (max-width: 720px) {
  .toolbar-title{
    display:none;
  }
}

@media all and (max-width: 479px) {
  .toolbar-title{
    display:none;
  }
}
