 @import 'ember-paper';

a {
  text-decoration: none;
}

.logo {
  padding: 30px;
}

.md-sidenav-left {
  height: 1000px;
}
.md-item {
  > .md-button {
    height: 50px;
    width: 100%;
  }
}
.md-list{
  height: 100px;
  md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
  }
}
