 @import 'ember-paper';

.ember-app{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 10px;
  max-width: 864px;
  margin: auto;
}

.md-sidenav-left {
  /*height: 100%; */
}
.md-item {
  > .md-button {
    height: 50px;
    width: 100%;
  }
}
.md-list{
  height: 100px;
  md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
  }
}

.sidenav ul li {
  > a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    padding: 1.1em 1.2em;
  }
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &:hover {
    background-color: #d3d3d3;
  }
}

.active {
   background-color: #ccedfc;
}

.ember-text-field {
  width: 70%;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 60px;
  height: 60px;
  margin: 16px;
}
