{{#paper-toolbar className="ember-app"}}
  <div class="md-toolbar-tools">
    <h2 flex=true class="md-toolbar-tools">
      {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
        {{paper-icon icon="menu"}}
      {{/paper-sidenav-toggle}}
      <img src="emberjs-logo.png" height="50">
      <strong>New Feed</strong>
    </h2>
  </div>
{{/paper-toolbar}}
{{#paper-content}}
  <div class="container">
    {{paper-text label="Name" value=model.name}}
    {{paper-text label="URL" value=model.url}}
    {{#paper-switch checked=model.isRssfeed}}
      {{#if model.isRssfeed}}
        <p>Yes, this is rss feed url</p>
      {{else}}
        <p>No, this is not a rss feed url</p>
      {{/if}}
    {{/paper-switch}}

    {{#paper-radio value="design" selected=selectedValue}}Design{{/paper-radio}}
    {{#paper-radio value="android" selected=selectedValue}}Android{{/paper-radio}}
    {{#paper-radio value="news" selected=selectedValue}}News{{/paper-radio}}

    {{#paper-button raised=true classNames="md-primary" action="save" }}
      Save
    {{/paper-button}}
    &nbsp;
    {{#paper-button raised=true action="cancel" }}
      Cancel
    {{/paper-button}}
  </div>
{{/paper-content}}
