<!--
{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <img src="/images/emberjs-logo.png" height="50">    
    <h1 flex=true>Ember Feed Reader</h1>
      {{#link-to "feeds.new" class="new"}}
        {{#paper-button classNames="md-icon"}}
          {{paper-icon icon="add-circle" size="lg"}}          
        {{/paper-button}}
      {{/link-to}}   
  </div>
{{/paper-toolbar}}
-->
{{outlet}}
