{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true }}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <strong>Feeds ({{length}})</strong>
      </div>
    {{/paper-toolbar}}
    {{#paper-content}}
      <nav class="sidenav">
      {{#paper-list}}
        {{#each feed in this}}
          <ul>
            <li>{{#link-to 'feed' feed}}{{feed.name}}{{/link-to}}</li>
          </ul>
        {{/each}}
      {{/paper-list}}
      </nav>
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    {{outlet}}
  {{/paper-content}}

{{/paper-nav-container}}
